@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Outfit", sans-serif;
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 20px 40px;
    flex: 1;
}

footer {
    display: flex;
    background-color: black;
    color: white;
    justify-content: center;
    padding: 20px;
}

.loading {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: black;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    z-index: 9999;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.filter-container {
    margin: 20px 0;
    text-align: right;
}

.filter-button {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.filter-button:hover {
    opacity: 0.8;
}